<table>
  <tbody>
    <tr>
      <td><h2>Thank you for purchasing!</h2></td>
    </tr>
    <tr>
      <td><p>You orderd follwing product: <strong><%= @product %></strong></p></td>
    </tr>
    <tr>
      <td><p>Total: <strong><%= @price %> €</strong></p></td>
    </tr>
    <tr>
      <td><p>The <%= @product %> is on the way to you!</p></td>
    </tr>
    <tr>
      <td><p>Your team of Dog Accessoires Berlin.</p></td>
    </tr>
  </tbody>
</table>
