<% if signed_in? && current_user.admin? %>
  <%= link_to 'New User', new_user_path, class: "btn btn-default" %>
<% end %>
<h1 class="align">User</h1><br>


<% @users.each do |user| %>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p class="align"><strong><%= user.email %></p>
      <p class="align"><%= link_to 'Show', user %> | <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div><!-- end col-md-4 -->
  </div><!-- end row -->
  <br>
<% end %>
