<div class="col-sm-2 col-md-6">
  <div class="inner">
    <h1 class="align">
      Order # <%= order.id %>
      <%= link_to order.product.name, order %>
    </h1>
    <p class="line"></p>
    <p class="align"><%= order.product.description %></p>
    <p class="align"><strong>€ <%= order.product.price %></strong></p>
  </div><!--end inner-->
</div><!--end col-->
