<div class="container-fluid">
  <div class="row">
    <div class="center inner" id="order-show">
      <p><%= @orders.product.name %></p>
    </div><!--end center-->
  </div><!--end row-->
</div><!--end container-fluid-->
