<p id="notice"><%= notice %></p>

<h1 class="align">Products</h1>

<%= link_to 'New Product', new_product_path, class: "btn btn-default" %>

<div class="container-fluid">
  <div class="row">
    <%= render @products %>
  </div><!--end row-->
</div><!--end container-fluid-->
