<%= render partial: "show" %>

<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

<%= render partial: "new_comment" %>

<%= render partial: "comments" %>
